################################################################################
#
#  This file is part of SplashSync Project.
#
#  Copyright (C) Splash Sync <www.splashsync.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################################
# SYMFONY FRAMEWORK
################################################################################
APP_ENV="dev"
APP_DEBUG="1"
APP_URI="http://toolkit.flat.local"
APP_SECRET="ThisTokenIsNotSoSecretChangeIt"

###> doctrine/orm-bundle ###
DATABASE_URL="mysql://root:Php-Console@mariadb/symfony"
###< doctrine/orm-bundle ###
