/vendor/
/composer.lock
/.php_cs.cache
/src/Resources/Jekyll/assets/vendor/
/docs/nbproject/private/
/build/
/docs/yarn.lock
/.gh-pages/
/reboot.sh
/tests/config/parameters.yml
/var/
/splash.yml
/src/Resources/jekyll/yarn.lock
/.idea/
/public/
/.php-cs-fixer.cache
/splash.json

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/tests/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
/.env
