################################################################################
#
#  This file is part of SplashSync Project.
#
#  Copyright (C) Splash Sync <www.splashsync.com>
#
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
#
#  For the full copyright and license information, please view the LICENSE
#  file that was distributed with this source code.
#
#  @author Bernard Paquier <contact@splashsync.com>
#
################################################################################

################################################################
# Set any variables we need
variables:
  # Configure mysql environment variables (https://hub.docker.com/r/_/mysql/)
  MYSQL_DATABASE:         symfony
  MYSQL_ROOT_PASSWORD:    Php-Console
  COMPOSER_MEMORY_LIMIT:  -1

################################################################
# Defined Pipeline Stages
stages:
  - docker
  - tests
  - deploy

################################################################
# Build Docker Images for Testing
################################################################
docker:
  stage:      docker
  image:      docker:stable
  tags:
    - Dedicated-Docker
  services:
    - docker:dind
  before_script:
    - docker info
  script:
    - echo "Build & Upload Pages Builder Docker Image"
    # Connect Docker to GitLab
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    # Build & Upload Splash All Docker Images
    - docker build -t registry.gitlab.com/splashsync/php-console:pages docker
    - docker push registry.gitlab.com/splashsync/php-console:pages
  except:
    - schedules
  only:
    changes:
      - docker/**/*

################################################################
# Functional Tests
################################################################

.core_tests:    &core_tests
    stage:      tests
    tags:
        - Dedicated
    services:
        - name: mariadb
    ################################################################################
    # Install & Configure Environnement
    before_script:
        # Setup Travis
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/configure.sh  | sh
        # Deploy Symfony Files
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/symfony/deploy.sh | sh
        # Setup Symfony Version & Create Database
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/symfony/configure.sh | sh
        # Install Symfony
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/symfony/install.sh | sh

    ################################################################################
    # Run Test Script
    script:
        # Execute Grumphp Testsuite
        - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/grumphp.sh  | sh
        # Show Basic Command Results
        - php bin/splash
        - php bin/console splash:server:config
        - php bin/console splash:objects:types

    ################################################################################
    # Run After Script
    after_script:
      - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/after.sh | sh

tests:php-8.1:
  image: registry.gitlab.com/badpixxel-projects/php-sdk:php-8.1
  <<: *core_tests

tests:php-8.0:
  image: registry.gitlab.com/badpixxel-projects/php-sdk:php-8.0
  <<: *core_tests

tests:php-7.4:
  image: registry.gitlab.com/badpixxel-projects/php-sdk:php-7.4
  <<: *core_tests

#################################################################
## Build Documentation
#################################################################
pages:
#    image:    registry.gitlab.com/badpixxel-projects/php-sdk:php-7.4
    image:    registry.gitlab.com/splashsync/php-console:pages
    stage:    deploy
    tags:
      - Dedicated
    services:
      - docker:dind
    ################################################################################
    # Run Test Script
    script:
      # Run Composer to Build deps
      - curl -s https://raw.githubusercontent.com/BadPixxel/Php-Sdk/main/ci/composer.sh  | bash
      # Build Documentation
      - php vendor/bin/grumphp run --tasks=build-docs
    artifacts:
        paths:
            - public
