<div class="item item-pink col-lg-4 col-6">
    <div class="item-inner">
        <div class="icon-holder">
            <i class="icon icon_gift"></i>
        </div>

        <h3 class="title">{{ site.data.core.about.title }}</h3>
        <p class="intro">{{ site.data.core.about.subtitle }}</p>

        <a class="link" href="about.html"></a>
    </div>
</div>
