{% unless site.manifest.objectTypes == empty %}

    <div class="item item-primary col-lg-4 col-6">
        <div class="item-inner">
            <div class="icon-holder">
                <i class="icon fa fa-cubes"></i>
            </div>

            <h3 class="title">{{ site.data.core.objects.title }}</h3>
            <p class="intro">{{ site.data.core.objects.subtitle }}</p>

            <a class="link" href="objects.html"><span></span></a>
        </div>
    </div>

{% endunless %}




