
<div class="row justify-content-center">
	<div class="col-8 col-md-6 col-lg-5">

	{% if site.home-logo.splash != null %}

		<a href="https://www.splashsync.com" rel="nofollow" target="_blank">
			<img 
				alt="Splash Sync" 
				class="img-fluid"
				src="{{ "/assets/img/logo-splash.png" | relative_url }}" 
				>
		</a>

	{% endif %}

	</div>
</div>
