

{% assign pages_list = site.pages %}
{% assign written = "" | split: '' %}

{% for node in pages_list %}
	{% if written contains node.title %}
		{% continue %}
    {% endif %}

    {% if node.title != null %}

      	{% if node.permalink contains "docs/" %}


			<!--Doc Section-->
			<section id="{{ node.title | slugify }}" class="doc-section">

			    <h2 class="section-title">{{ node.title }}</h2>
			    
			    <div class="section-block">
			    	{{ node.content | markdownify }}
			    </div>

			</section>
			<!--End Doc Section-->

		{% endif %}

		{% assign written = written | push: node.title %}

	{% endif %}
{% endfor %}
