
<!-- Languages Selector -->
{% for lang in site.languages %}

	{% if lang == "en" %}
		<span class="flag-icon flag-icon-us flag-icon-squared"></span>
	{% else %}
		<span class="flag-icon flag-icon-{{ lang }}"></span>
	{% endif %}

{% endfor %}
<!-- End Languages Selector -->
