
parameters:

    database_driver:        pdo_mysql
    database_host:          mysql
    database_port:          null
    database_name:          symfony
    database_user:          root
    database_password:      Php-Console

    kernel.secret:          ThisIsNotASecretKey

    splash_host:            http://localhost:8000

    locale: en
    locales:
        - en
        - fr