---
layout: default
title: About
permalink: /about.html
color: pink
---


<div class="doc-wrapper">
    <div class="container">
        <div id="doc-header" class="doc-header">
            <h1 class="doc-title text-center">
            	<span aria-hidden="true" class="icon icon_gift"></span> License &amp; Credits
            </h1>
            <div class="doc-body row">
                <div class="doc-content col-12">
                    <div class="content-inner">
                        <section id="license" class="doc-section">
                            <h2 class="section-title">Splash License</h2>
                            <div class="section-block text-center">
								{% include home/logo.liquid %} 
								<p>
									{{ site.data.core.about.part1 }}
								</p>                            	
								<p>
									{{ site.data.core.about.part2 }}
								</p>                            	
								<p>
									{{ site.data.core.about.part3 }}
								</p>
								<p>
                                    <a class="btn btn-cta btn-orange" href="https://www.splashsync.com" target="_blank">
                                    	www.splashsync.com
                                    </a>
								</p>
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
                        <section id="license" class="doc-section">
                            <h2 class="section-title">PrettyDocs License</h2>
                            <div class="section-block  text-center">
								<p>
									PrettyDocs is made by UX designer <a href="https://twitter.com/3rdwave_themes" target="_blank">Xiaoying Riley</a> for developers and is 100% <strong>FREE</strong> under the <a class="dotted-line" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">Creative Commons Attribution 3.0 License (CC BY 3.0)</a>
								</p>
								<p>
									Thank you Riley for offering us this layout!
								</p>                            	
                                <div class="list list-inline text-center">
                                    <a class="btn btn-cta btn-primary" href="https://twitter.com/3rdwave_themes" target="_blank">
                                    	<i class="fab fa-twitter"></i> Follow Xiaoying on Twitter
                                    </a>
                                </div>
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
                        <section id="credits" class="doc-section">
                            <h2 class="section-title">PrettyDocs Credits</h2>
                            <div class="section-block">
                                <ul class="list list-unstyled">
                                    <li><a href="https://getbootstrap.com/" target="_blank"><i class="fas fa-external-link-square-alt"></i> Bootstrap</a></li>
                                    <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><i class="fas fa-external-link-square-alt"></i> FontAwesome</a></li>
                                    <li><a href="https://www.google.com/webfonts" target="_blank"><i class="fas fa-external-link-square-alt"></i> Google Fonts</a></li>
                                    <li><a href="https://jquery.com/" target="_blank"><i class="fas fa-external-link-square-alt"></i> jQuery</a></li>
                                    <li><a href="https://prismjs.com/index.html" target="_blank"><i class="fas fa-external-link-square-alt"></i> Prism</a></li>
                                    <li><a href="https://ashleydw.github.io/lightbox/" target="_blank"><i class="fas fa-external-link-square-alt"></i> Bootstrap Lightbox</a></li>
                                    <li><a href="https://flesler.blogspot.co.uk/2007/10/jqueryscrollto.html" target="_blank"><i class="fas fa-external-link-square-alt"></i> jQuery ScrollTo</a></li>
                                    <li><a href="https://github.com/wilddeer/stickyfill" target="_blank"><i class="fas fa-external-link-square-alt"></i> Stickyfill</a></li>
                                </ul>
                            </div><!--//section-block-->
                        </section><!--//doc-section-->
            		</div>
            	</div>
            </div>
        </div>
    </div>
</div>
