---
layout: default
---

<section class="cards-section text-center">

    <!-- Container -->
    <div class="container">

        {% include home/logo.liquid %}             

        <h2 class="title">
            {{ site.github.project_title }}
        </h2>
        
        <div class="intro">
            <p>{{ site.description }}</p>
            {% include home/links.liquid %}
        </div>

        <!--Home Cards -->
        <div id="cards-wrapper" class="cards-wrapper row justify-content-center">

            {%- include home/card_start.liquid -%}
            {%- include home/card_docs.liquid -%}
            {%- include home/card_objects.liquid -%}
            {%- include home/card_faq.liquid -%}
            {%- include home/card_credits.liquid -%}

        </div>
        <!--End Home -->

        {%- include home/posts.liquid -%}
        
    </div>
    <!-- End Container -->

</section>
