

<span 	data-toggle="popover" data-placement="top" data-html="true" 
		title="{{ site.data.fields.settings[syncMode].name }}"
		data-content="{{ site.data.fields.settings[syncMode].label }}"
		data-trigger="click | hover"
		>

	{% if site.manifest.objects[objectType].description[syncMode] and site.manifest.objects[objectType].description[syncMode] != "0"%}
		<i class="fas fa-check-double text-success"></i>
	{% else %}	
		<i class="fas fa-times text-danger"></i>
	{% endif %}	

	{{ site.data.fields.settings[syncMode].name }}
	
</span>