
<!-- Documentations Menu -->
<nav id="doc-menu" class="nav doc-menu flex-column sticky">

<div class="h5 block-title">{{ site.data.core.docs.title }}</div>

      {% assign pages_list = site.pages %}
      {% assign written = "" | split: '' %}
      {% for node in pages_list %}
        {% if written contains node.title %}
          {% continue %}
        {% endif %}
        {% if node.title != null %}

          {% if node.permalink contains "faq/" %}
            <a class="nav-link scrollto{% if page.url == node.url %} active{% endif %}" 
              href="#{{ node.title | slugify}}">
              {{ node.title }}
            </a>
          {% endif %}

          {% assign written = written | push: node.title %}
        {% endif %}
      {% endfor %}
      

</nav>
<!--End Documentations Menu -->

