---
layout: default
---

<div class="doc-body row">

	<!-- Doc Content -->    
    <div class="doc-content col-md-9 col-12 order-1">
        <div class="content-inner">
            {{ content }}
        </div>
    </div>
	<!-- End Doc Content -->    

	<!-- Doc Sidebar -->    
    <div class="doc-sidebar col-md-3 col-12 order-0 d-none d-md-flex">
        <div id="doc-nav" class="doc-nav">
            {%- include docs/menu.liquid -%}
        </div>
    </div>
    <!-- End Doc Sidebar -->    

</div>